/* CSS Code */

/* Heading */

h1 {
    color:hsl(302, 59%, 65%);
    font-size: 45px;
}

/* Main Container */
#main {
    text-align: center;
}

/* Game Instrction Text */
#ins {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkgreen;
    font-size: 17px;
} 

/* 3x3grid */
#b1, #b2, #b3, #b4, #b5,
 #b6, #b7, #b8, #b9{
    width: 80px;
    height: 40px;
    margin: auto;
    border: 5px solid brown;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}

/* Reset Button */
#but {
    width: 95px;
    height: 40px;
    border: 1px solid darkgreen;
    margin: auto;
    border-radius: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(67, 64, 170);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 20px;
}